.content .room {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 5px;
}

  .content .room-name {
    font-size: 24px;
    width: 20%;
    padding: 10px 0;}
    @media only screen and (max-width: 580px) {
      .content .room-name {
        font-size: 20px} }
    @media only screen and (max-width: 481px) {
      .content .room-name {
        width: 35%;} }
  .content .room-days {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media only screen and (max-width: 481px) {
      .content .room-days {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
.content .room.red {background-color: rgba(255,0,0,.3);}
.content .room.green {background-color: rgba(0,255,0,.3);}
.content .room.blue {background-color: rgba(0,0,255,.3);}
.content .room.yellow {background-color: rgba(255,255,0,.3);}
.content .room.purple {background-color: rgba(255,0,255,.3);}